<!DOCTYPE html>
<html>
    <head>
        <title>ABET UTK</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "style.css" %}" />
    </head>
    <body>
        <div id="wrapper">
        <div id="container">
            <h2>University of Tennessee - ABET Data Submission</h2>
            <div id="loginwell" class="well">
             <form class="form-signin" method="POST" action="/">{% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
                {% if errors %}
                <p class="error">Invalid username or password.</p>
                {% endif %}
                <input id="inputNetid" name="netid" class="form-control" placeholder="NETID" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <p style="color:grey;">Check UTK email for password</p>
                <!--<div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>-->
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>
            </div>
            <div style="clear:both;"></div>
        </div>
        </div>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>