<form name="outform">{% csrf_token %}
    <input type="hidden" name="semStr" value="{{ semStr }}"/>
    <input type="hidden" name="courseName" value="{{ section.course.name }}"/>
    <input type="hidden" name="outcome" value="{{ outcome.name }}"/>
    <button type="button" class="btn btn-success pull-right" id="updateBtn">Update</button>
    <h4>Enter the aggregate outcome data</h4>
    <p style="clear:both;">
        {% for p in perfLevels %}
            <div class="rubricBlock">
                <h6>{{ p.description }}</h6>
                    <p>Students in Category: <input name="od_{{ p.achievementLevel}}_num" size="3"  /></p>
            </div>
        {% endfor %}
    </p>
    <p>
        <div class="ib">Narrative Summary:<br /><textarea name="desc" id="narrSum">{{outcome.narrativeSummary}}</textarea></div>
    </p>
</form>