
<form method="POST" onsubmit="form/submitPi">
    <input type="hidden" name="course" value="{{ course }}"/>
    <input type="hidden" name="outcome" value="{{ outcome }}"/>
    <input type="hidden" name="pi" value="{{ pi }}"/>
    <p>Name: <input name="name" /> Weight: <input name="weight" size="8" /></p>
        <p>Description: <textarea name="desc" id="piDesc"></textarea></p>
    <p><div class="table-responsive"><table><tr>
        {# for r in rubrics #}
            <td>
                <p>Range: <input size="4" /> - <input size="4" /></p>
            </td>
        {# endfor #}
    </tr></table></div></p>
    
</form>