<form name="piform" action="" onsubmit="return false;"style="visibility:hidden;">{% csrf_token %}
    <input type="hidden" name="semStr" value="{{ semStr }}"/>
    <input type="hidden" name="courseName" value="{{ section.course.name }}"/>
    <input type="hidden" name="outcome" value="{{ outcome.studentOutcome.outcomeLetter }}"/>
    <input type="hidden" name="pi" value="{{ pi.name }}"/>
    <input type="hidden" name="sectionID" value="{{ section.id }}"/>
    
    <div class="pull-right" ><button action="" class="btn btn-success" id="updateBtn">Update</button></div>
    
    <div class="ib"><h4>Enter the data for performance indicator </h4>
    <p>
            Name: <input name="newName" value="{{pi.name}}" type="text" required />
            Weight: <input name="weight" {% if pi.weight != None %} value="{{pi.weight}}" {% endif %} size="8" />
        <span id="nameEmptyError" style="display:none;" class="error"><br/>Please enter a name</span>
        <span id="nameUsedError" style="display:none;" class="error"><br/>Please choose a unique name</span>
        <span id="badWeightError" style="display:none;" class="error"><br/>Weight should be a decimal number between 0 and 1.0 </span>
    </p>
    </div>
    <div class="ib">Description:<br /><textarea name="description" id="piDesc">{{pi.description}}</textarea></div>
    
    <p><div id="rubricSec">
        {% for p in perfLevels %}
            <div class="rubricBlock">
                <h6>{{ p.description }}</h6>
                {% if rubrics %} 
                    {% for r in rubrics %} {% if r.performanceLevel.id == p.id %}
                    {# <p>{{r.performanceLevel.achievementLevel}}</p> #}
                    <p>Range: 
                        <input size="2"  name="r_{{ p.achievementLevel}}_lower" {% if r.gradeLowerBound %} value="{{ r.gradeLowerBound }}" {% endif %}/> - 
                        <input size="3" name="r_{{ p.achievementLevel}}_upper" {% if r.gradeTopBound %} value="{{ r.gradeTopBound }}" {% endif %}/>
                            <span id="rangeNotNumError_{{ p.achievementLevel}}" style="display:none;" class="error"><br/>Please enter integer values</span>
                            <span id="rangeDisorderError_{{ p.achievementLevel}}" style="display:none;" class="error"><br/>Enter lower bound first</span>
                    </p>
                    <p>Students in Category: <input size="3" name="r_{{ p.achievementLevel}}_num" {% if r.numStudents %} value="{{r.numStudents}}" {% endif %}/>
                        <span id="numNotNumError_{{ p.achievementLevel}}" style="display:none;" class="error"><br/>Please enter integer value</span></p>
                    
                    <p>Rubric:<br /><textarea name="r_{{ p.achievementLevel}}_desc">{{ r.description }}</textarea></p>
                    {% endif %} {% endfor %}
                {% else %}
                    <p>
                    Range: 
                    <input size="2" name="r_{{ p.achievementLevel}}_lower" /> - 
                    <input size="2" name="r_{{ p.achievementLevel}}_upper" />
                        <span id="rangeNotNumError_{{ p.achievementLevel}}" style="display:none;" class="error"><br/>Please enter integer values</span>
                        <span id="rangeDisorderError_{{ p.achievementLevel}}" style="display:none;" class="error"><br/>Enter lower bound first</span></p>
                    <p>Students in Category: <input name="r_{{ p.achievementLevel}}_num" size="3"  />
                        <span id="numNotNumError_{{ p.achievementLevel}}" style="display:none;" class="error"><br/>Please enter an integer value</span></p>
                    <p>Rubric:<br /><textarea name="r_{{ p.achievementLevel}}_desc"></textarea></p>
                {% endif %}
            </div>
        {% endfor %}
    </div></p>
    {% if pi %} <a id="deleteBtn">Delete</a> {% endif %}
</form>