<form name="piform">{% csrf_token %}
    <input type="hidden" name="semStr" value="{{ semStr }}"/>
    <input type="hidden" name="courseName" value="{{ section.course.name }}"/>
    <input type="hidden" name="outcome" value="{{ outcome.name }}"/>
    <input type="hidden" name="pi" value="{{ pi.name }}"/>
    
    <div class="pull-right" ><button type="button" class="btn btn-success" id="updateBtn">Update</button></div>
    
    <div class="ib"><h4>Enter the data for performance indicator </h4>
    <p>Name: <input name="name" value="{{pi.name}}" /> Weight: <input name="weight" value="{{pi.weight}}" size="8" /></p>
    </div>
    <div class="ib">Description:<br /><textarea name="desc" id="piDesc">{{pi.description}}</textarea></div>
    
    <p><div id="rubricSec">
        {% for p in perfLevels %}
            <div class="rubricBlock">
                <h6>{{ p.description }}</h6>
                {% if rubrics %} 
                    {% for r in rubrics %} {% if r.performanceLevel.id == p.id %}
                    <p>Range: <input size="2" name="r_{{ p.achievementLevel}}_lower" value="{{ r.gradeLowerBound }}" /> - <input size="3" name="r_{{ p.achievementLevel}}_upper" value="{{ r.gradeTopBound }}" /></p>
                    <p>Students in Category: <input size="3" name="r_{{ p.achievementLevel}}_num" value="{{r.numStudents}}" /></p>
                    <p>Description:<br /><textarea name="r_{{ p.achievementLevel}}_desc">{{ r.description }}</textarea></p>
                    {% endif %} {% endfor %}
                {% else %}
                    <p>Range: <input size="2" name="r_{{ p.achievementLevel}}_lower" /> - <input size="2" name="r_{{ p.achievementLevel}}_upper" /></p>
                    <p>Students in Category: <input name="r_{{ p.achievementLevel}}_num" size="3"  /></p>
                    <p>Description:<br /><textarea name="r_{{ p.achievementLevel}}_desc"></textarea></p>
                {% endif %}
            </div>
        {% endfor %}
    </div></p>
    <a id="deleteLink">Delete</a>
</form>