{% extends 'ABET_DB/container.html' %}

{% block body %}
    <div id="courseNav" class="centered-pills">
        <ul class="nav nav-pills">
            {% for c in courses %}
            <li><a>{{ c.course.name }}</a></li>
            {% endfor %}
            <li id="semSelect">
            <select value="{{ currentSem }}">
                {% for s in semesters %}
                <option value="{{ s }}">{{ s|capfirst }}</option>
                {% endfor %}
            </select>
            </li>
        </ul>
    </div>
        <div id="outcomeNav">
            <b>Outcomes</b>
            <div class="list-group">
                <a class="list-group-item disabled blank">&nbsp;</a>
            </div>
        </div>
        <div id="piNav" >
            <b>Performance Indicators</b>
            <div class="list-group">
                <a class="list-group-item disabled blank">&nbsp;</a>
                <a id="addPi" class="list-group-item" style="display:none;">+</a>
            </div>
        </div>
    <div class="well" id="mainForm">
        <span id="msg">Select a Course.</span>
        {% include 'ABET_DB/piDummy.html' %}
    </div>
{% endblock%}