{% extends 'ABET_DB/container.html' %}

{% block body %}
    <div id="courseNav" class="centered-pills">
        <ul class="nav nav-pills">
            {% for c in courses %}
            <li><a href='#'>{{ c.courseName }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="outcomeNav">
        <ul class="nav nav-pills nav-stacked">
            {% for o in outcomes %}
            <li><a href="#">{{ o.outcomeLetter }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div style="clear:both;"></div>
{% endblock%}