body {
    background-color: #FFE8C2;
    margin:0;
    padding:0.5em;
    text-align: center;
}
h1, h2 {
    clear:both;
    text-align:center;
    color:orange;
    font-weight:bold;
}

.item {
    
    border-top:solid 1px navajowhite;
}

/* center the course pills */
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }

.row {
    border:solid 2px darkorange;
}
#outcomeNav, #piNav {
    float:left;
    margin-right:0.5em;
}

#addPi{
    background-color:#4CAF50;
    text-align:center;
    font-weight:bolder;
    font-size:1.5em;
    color:white;
    margin-top:0.1em;
}
#addPi:hover {
    background-color:#3E8E55;
}
#addPi.active {
    color:#5CB85C;
    border-color:#5CB85C;
    background-color:#DCEFDC;
}

#container {
    margin: 0 auto;
    background-color:white;
    padding:1em;
    border-radius: 1em;
    overflow:auto;
    display:inline-block;
    text-align:center;
}
#wrapper {
    margin: 0 auto;
    text-align:center;
}

#mainForm {
    margin-top: 1em;
    vertical-align: top;
    overflow:auto;
    display:inline-block;
}

#submitBtn {
    border:1px solid #296915;
    font-weight: bold;
}

.rubricBlock {
    display:inline-block;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    margin: 1em .3em 0;
    padding:0 .5em;
}

#rubricSec {
    vertical-align:top;
    border-top:2px solid #ddd;
    overflow-x: visible;
}

.ib {
    vertical-align: top;
    margin:0 1em;
    display:inline-block;
}

#ecm {
    color:#337ab7;
}

.nav-pills li {
    cursor:pointer;
}