body {
    background-color: #FFE8C2;
    margin:0;
    padding:0.5em;
}
h1, h2 {
    text-align:center;
    color:orange;
    font-weight:bold;
}

.item {
    
    border-top:solid 1px navajowhite;
}

/* center the course pills */
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }

.row {
    border:solid 2px darkorange;
}
#outcomeNav, #piNav {
    float:left;   
    margin-right:0.5em;
}

#logoutButton {
    float:right;
}

#addPi{
    background-color:#4CAF50;
    text-align:center;
    font-weight:bolder;
    font-size:1.5em;
    color:white;
    margin-top:0.1em;
}
#addPi:hover {
    background-color:#3E8E55;
}
#addPi .active {
    color:#CAA;
    background-color:white;
}

#container {
    margin: 0 auto;
    max-width: 1000px;
    background-color:white;
    padding:1em;
    border-radius: 1em;
    
}