body {
    /*background-color: #FFE8C2;*/
    margin:0;
    text-align: center;
}
body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7b531+0,fc6620+50,ff7d21+100 */
background: #f7c531; /* Old browsers */
background: -moz-linear-gradient(center, ellipse cover, #f7b531 0%, #fc6620 50%, #ff7d21 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(center, ellipse cover, #f7b531 0%,#fc6620 50%,#ff7d21 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient( #f7b531 0%,#fc6620 50%,#ff7d21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b531', endColorstr='#ff7d21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
html, body {
    height:100%;
}
/* body gradient */
h1, h2 {
    clear:both;
    text-align:center;
    color:orange;
    font-weight:bold;
}

.item {
    
    border-top:solid 1px navajowhite;
}

/* center the course pills */
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }

.row {
    border:solid 2px darkorange;
}
#outcomeNav, #piNav {
    float:left;
    margin-right:0.5em;
}

#addPi{
    background-color:#4CAF50;
    text-align:center;
    font-weight:bolder;
    font-size:1.5em;
    color:white;
    margin-top:0.1em;
}
#addPi:hover {
    background-color:#3E8E55;
}
#addPi.active {
    color:#5CB85C;
    border-color:#5CB85C;
    background-color:#DCEFDC;
}

#container {
    margin: 0 auto;
    background-color:white;
    padding:1em;
    border-radius: 1em;
    overflow:auto;
    display:inline-block;
    text-align:center;
}
#wrapper {
    /*text-align:center;*/
    background-image:url("/static/images/BGpattern.png");
   height:100%;
   width:100%;
    padding:0.5em;
}

#mainForm {
    margin-top: 1em;
    vertical-align: top;
    /*overflow:auto;*/
    display:inline-block;
}

#submitBtn {
    border:1px solid #296915;
    font-weight: bold;
}
#deleteLink {
    color:red;
}

.rubricBlock {
    display:inline-block;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    margin: 1em .3em 0;
    padding:0 .5em;
}

#rubricSec {
    vertical-align:top;
    border-top:2px solid #ddd;
    /*overflow-x: visible;*/
}

.ib {
    vertical-align: top;
    margin:0 1em;
    display:inline-block;
}

#semSelect {
    padding: 10px 15px;
}

.nav-pills li, a {
    cursor:pointer;
}

#narrSum {
    display:block;
    resize:vertical;
    max-width:20em; 
}