<html>
    <head>
        <title>ABET submit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>ABET demo</h1>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Add Student Outcome</h3>
                    <form>
                        <p>Outcome Letter: <input name="OutcomeLetter"></p>
                        <p>Description:<br /><textarea name="description"></textarea></p>
                    </form>
                </div>
                <div class="col-sm-4">
                    <h3>Add Preforamnce Level</h3>
                    <form>
                        <p>Acheivement Level: <input name="AcheivementLevel"></p>
                        <p>Description:<br /><textarea name="description"></textarea></p>
                    </form>
                </div>
                <div class="col-sm-4">
                    <h3>Add Course</h3>
                    <form>
                        <p>CRN Number: <input name="crn"></p>
                        <p>Course Name: <input name="CourseName"></p>
                        <p>Course Description: <br /><textarea name="description"></textarea></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>